.ribbon {
    --r: 3em;
    padding-inline: calc(var(--r) + .3em);
    line-height: 1.8;
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--r)) 50%, 100% 100%, 0 100%, var(--r) 50%);
    filter: drop-shadow(-5px 0px 5px rgba(0, 0, 0, 0.5)) drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.5));

}

.rayas {
    background: repeating-linear-gradient(135deg, #e01a1a 0, #e01a1a  15%, transparent 0, transparent 50%);
    background-size: 1em 1em;
    background-color: #f12f2f;
    opacity: 1;

}